<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% if title %}
            <title>Django blog - {{ title }}</title>
        {% else %}
            <title>Django blog</title>
        {% endif %}
</head>
<body>
    {% for post in posts %}
        <h1>{{ post.title }}</h1>
        <h2>By: {{ post.author }}, on {{ post.data_posted }}</h2>
    {% endfor %}

</body>
</html>